<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<!--Banner-->
<div class="canhcam-home-banner">
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <img [src]="images[0]" alt="Random first slide">
      <div class="carousel-caption">
        <div class="title">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="title-wrap">
                  <h3>
                    Trang giao dịch bảo hiểm trực tuyến
                    <br>
                    Chubb Life Việt Nam
                  </h3>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img [src]="images[1]" alt="Random second slide">
      <div class="carousel-caption">
        <div class="title">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="title-wrap">
                  <h3>
                    Tham gia bảo hiểm nhân thọ
                    <br>
                    chỉ với 3 thao tác
                  </h3>
                  <p>
                    Chọn gói bảo hiểm phù hợp – Điển thông tin cá nhân –
                    <br>
                    Thanh toán trực tuyến dễ dàng
                  </p>
                  <a href="">Tìm hiểu thêm </a>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img [src]="images[2]" alt="Random third slide">
      <div class="carousel-caption">
        <div class="title">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="title-wrap">
                  <h3>
                    Chỉ mất vài phút để được
                    <br>
                    bảo vệ dài lâu
                  </h3>
                  <p>
                    Tự tin chinh phục mọi mục tiêu!
                  </p>
                  <a href="">Tìm hiểu thêm </a>
                </div>

              </div>
            </div>
          </div>

        </div>

      </div>
    </ng-template>
  </ngb-carousel>
</div>
<div class="canhcam-home-abvantages">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="home-title">Ưu điểm bảo hiểm Online</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-4 item">
        <figure>
          <div class="boximg">
            <img src="../assets/img/home/home_icon_1.png" alt="" srcset="">
          </div>
          <figcaption>
            <h3>
              Đăng ký nhanh chóng
            </h3>
            <p>Tiết kiệm thời gian và hạn chế những thủ tục rườm rà.</p>
          </figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-lg-4 item">
        <figure>
          <div class="boximg">
            <img src="../assets/img/home/home_icon_2.png" alt="" srcset="">
          </div>
          <figcaption>
            <h3>
              An toàn, tiện dụng
            </h3>
            <p>Mọi thông tin của khách hàng sẽ được bảo mật tuyệt đối và an toàn trong suốt quá trình đăng ký.</p>
          </figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-lg-4 item">
        <figure>
          <div class="boximg">
            <img src="../assets/img/home/home_icon_3.png" alt="" srcset="">
          </div>
          <figcaption>
            <h3>
              Thủ tục đơn giản
            </h3>
            <p>Thủ tục đăng ký tham gia bảo hiểm đơn giản, không cần khám sức khoẻ.</p>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
<div class="canhcam-home-product">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="title">
          <h2 class="home-title">Sản phẩm Bảo hiểm hỗ trợ điều trị ung thư – C Care</h2>
		  <h3>Chi trả Số tiền Bảo hiểm lên đến 500 triệu đồng</h3>
		  <div class="seemore">
			  <a href="#">Tìm hiểu thêm</a>
		  </div>
        </div>
      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>
