<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="title">
          <p>
            Các bước mua online
          </p>
          <h2>
            Phương thức thanh toán
          </h2>
        </div>

      </div>
    </div>
  </div>
</section>
<section class="buyonline5">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="mb-3">Vui lòng lựa chọn:</h2>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-6">
        <div class="block">
          <input type="radio" name="check" id="inland">
          <label for="inland">Thẻ ATM nội địa</label>
          <a href="#" class="inland"><img src="../../../assets/img/online_5/item_1.png" alt=""></a>
        </div>

      </div>
      <div class="col-md-6">
        <div class="block flex-column flex-md-row align-items-start align-items-md-center">
              <input type="radio" name="check" id="inter">
              <label for="inter">Thẻ quốc tế</label>
          
          <br>
          <div class="atm d-flex justify-content-center flex-wrap">
          <a href="#"><img src="../../../assets/img/online_5/item_2.png" alt=""></a>
          <a href="#"><img src="../../../assets/img/online_5/item_3.png" alt=""></a>
          <a href="#"><img src="../../../assets/img/online_5/item_4.png" alt=""></a>
        </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col">
      <div class="next-stept">
        <a href="#" class="btn prev">Quay lại</a>
        <a href="#" class="btn next">Tiếp tục</a>
      </div>
      </div>  

    </div>
  </div>
</section>
